
.exercise {
	background: #F2F3F5;
	height: 100vh;
	display: flex;
	flex-direction: column;
	main {
		background: #ffffff;
		padding-top: 100px;
		display: flex;
		align-items: center;
		height: 220px;
		flex-direction: column;
		.van-circle {
			.van-circle__text {
				top: 45%;
				font-size: 32px;
			}
		}
		h2 {
			color: #aaaaaa;
			margin-top: -5rem;
			font-weight: 500;
			z-index: 80;
			font-size: 20px;
		}
	}
	content {
		flex-grow: 1;
		background: #ffffff;
		margin-top: 1rem;
		.van-cell__title {
			font-size: 20px;
		}
		.van-cell__value {
			font-size: 16px;
		}
	}
}

.do-exercise {
	background: #ffffff;
	display: flex;
	flex-direction: column;
	.progress {
		margin: 20px 20px;
	}
	.right-icon {
		color: #222222;
		font-weight: 600;
		font-size: 20px;
	}
}

.status-bar {
	margin-top: 30px;
}

.select-item {
	margin-right: 10px;
	margin-top: 15px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	text-align: center;
	line-height: 50px;
}

.fixed {
	position: fixed !important;
}

.item-status {
	font-size: 24px;
	line-height: 20px;
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
	.van-button--mini {
		line-height: 26px;
	}
}

.submit-btn {
	width: 100%;
}

.result {
	height: 100vh;
	main {
		background: #ffffff;
		padding-top: 90px;
		display: flex;
		align-items: center;
		height: 220px;
		flex-direction: column;
		.van-circle {
			.van-circle__text {
				top: 45%;
				font-size: 32px;
			}
		}
		h2 {
			color: #aaaaaa;
			margin-top: -5rem;
			font-weight: 500;
			z-index: 80;
			font-size: 20px;
		}
	}
}